<div  (click)="notify()">


  <!-- [class.panel-success]-- called as class binding (adding a class to an existing class)
  so when the condition is true it ass class to the div -->
<div class="panel-heading colorDiv" [class.highlightDiv]="selectedEmployeeId===emp.id">
    <h3 class="panel-title">{{ emp.name | uppercase}}</h3> 
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-6">
            <img class="imgClass" [src]='emp.photoPath' style="margin-right:50px;"/>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-6">
              Gender
            </div>
            <div class="col-xs-6">
              :  {{ emp.gender }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Email
            </div>
            <div class="col-xs-6">
              :  {{ emp.email }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              PhoneNumber
            </div>
            <div class="col-xs-6">
              :  {{ emp.phoneNumber }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              ContactPreference
            </div>
            <div class="col-xs-6">
              :  {{ emp.contactPreference }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              DateOfBirth
            </div>
            <div class="col-xs-6">
              :  {{ emp.dateOfBirth | date }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Department
            </div>
            <div class="col-xs-6" [ngSwitch]="emp.department">
             :  
            <span *ngSwitchCase="1">Help Desk</span>
            <span *ngSwitchCase="2">IT</span>
            <span *ngSwitchCase="3">HR</span>
            <span *ngSwitchCase="4">Payroll</span>
            <span *ngSwitchDefault>N/A</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              isActive
            </div>
            <div class="col-xs-6">
              :  {{ emp.isActive }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
<!-- Previous Employee : {{ previousEmployee }} <br>
Current Employee : {{ currentEmployee }} -->