

    <div class="panel-heading">
        <h3 class="panel-title">{{ emp.name }}</h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-6">
                <img class="imgClass" [src]='emp.photoPath' style="margin-right:50px;"/>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-6">
                  Gender
                </div>
                <div class="col-xs-6">
                  :  {{ emp.gender }}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  Email
                </div>
                <div class="col-xs-6">
                  :  {{ emp.email }}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  PhoneNumber
                </div>
                <div class="col-xs-6">
                  :  {{ emp.phoneNumber }}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  ContactPreference
                </div>
                <div class="col-xs-6">
                  :  {{ emp.contactPreference }}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  DateOfBirth
                </div>
                <div class="col-xs-6">
                  :  {{ emp.dateOfBirth | date }}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  Department
                </div>
                <div class="col-xs-6" [ngSwitch]="emp.department">
                 :  
                <span *ngSwitchCase="1">Help Desk</span>
                <span *ngSwitchCase="2">IT</span>
                <span *ngSwitchCase="3">HR</span>
                <span *ngSwitchCase="4">Payroll</span>
                <span *ngSwitchDefault>N/A</span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  isActive
                </div>
                <div class="col-xs-6">
                  :  {{ emp.isActive }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

    <!--   < [routerLink]="['/list']" or  routerLink="/list" -->
    <!-- {id: emp.id} -- syntax for one optional params -->
    <!-- {id: emp.id, name:emp.name} -- syntax for multiple optional params -->
    <!-- so, here we are passing emp.id from the as optional parameter -->

    <!-- queryParamsHandling="preserve" -- preserves the query string params while navigation
    we can also user queryParamsHandling="merge" -- which merges/adds any additional query string pararms 
    to the existing query string params -->

    <a class="btn btn-sm btn-primary" [routerLink]="['/list', {id: emp.id}]" queryParamsHandling="preserve" >Back to list</a>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <button class="btn btn-sm btn-primary pull-right" (click)="viewNextEmployee()">View Next Employee</button>


    <!-- we can also pass querystring params in a href as follows
      [queryParams] -- is acollection of querystring params
      we can pass query string params in component like as--
      navigate(['/employees', empId], { queryParams : {searchText: this.searchText, testParam : 'testValue', ... } });
     -->
    <!-- <a class="btn btn-sm btn-primary" [routerLink]="['/employees']"
            [queryParams]="{ 'searchText': 'anySeachValue' , 'testParam: 'testValue' }" >Back to list</a> -->